// rkitemBox101
// ==================================================/
@mixin rkitemBox101_theme() {
  .rkitemBox101 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .rkitemBox101_img-holder {
      border: 1px solid #5c5d60;
    }

    .rkitemBox101_heading {
      color: #fff;
    }

    .rkitemBox101_heading + hr {
      color: #5c5d60; /* old IE */
      background-color: #5c5d60; /* Modern Browsers */
    }

    .rkitemBox101_heading ~ p {
      // color: #000;
    }

    .rkitemBox101_btn-holder {
       button {
        &:hover {
          background-color: #f6f6f6;
        }
      }
    }
  }
}
@include rkitemBox101_theme();

.rkitemBox101 {
  @extend %padd--4;
  .rkitemBox101_heading {
    margin: 4px 0 4px 0; /* trbl */
    // @extend %padd--4;
  }

  .rkitemBox101_heading + hr {
    border: none;
    height: 1px;
    margin: 0;
  }

  .rkitemBox101_heading ~ p {
    @extend %margin-top--4;
    line-height: 114%; /* most browsers is about 110% to 120% */
  }

  .rkitemBox101_btn-holder {
    @extend %padd-top--4;
    button {
      cursor: pointer;
    }
  }
  
  .rkitemBox101_img-holder {
    @extend %padd--4;
    height: 60px;
  }
}

// rkitemBox102
// ==================================================/
@mixin rkitemBox102_theme() {
  .rkitemBox102 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .rkitemBox102_heading1 {
      background-color: #343437;
      color: #fff;
    }

    .rkitemBox102_heading2 {
      color: #fff;
    }

    .rkitemBox102_img-holder {
      border: 1px solid #5c5d60;
      > img {
        // border: 1px solid #000;
      }
    }

    .rkitemBox102_btn-holder {
      button {
        &:hover {
          background-color: #f6f6f6;
        }
      }
    }
  }
}
@include rkitemBox102_theme();

.rkitemBox102 {
  @extend %padd--4;

  .rkitemBox102_heading1 {
    padding: 4px 0px 4px 0px; /* trbl */
    @extend %margin-bottom--4;
  }

  .rkitemBox102_heading2 {
    margin: 4px 0 4px 0; /* trbl */
  }

  .rkitemBox102_heading2 ~ p {
    line-height: 114%;
  }

  .rkitemBox102_img-holder {
    @extend %padd--4;
    > img {
      @extend %display--block;
      height: 60px;
      margin-top: 4px;
    }
  }

  .rkitemBox102_btn-holder {
    @extend %padd-top--4;
    
    button {
      cursor: pointer;
    }
  }
}
